{% extends 'base.html' %} 
{% block content %} 

<h1>Wish List Items</h1>
{% if items|length == 0 %}
<h3>No Wish Items Exist</h3>
{% else %} 
<table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %} 
        <tr>
            <td>{{ item.description }}</td>
            <td><a href="{% url 'home' item.id %}">X</a></td>
        </tr>
        {% endfor %} 
    </tbody>
</table>
{% endif %} 
<hr>
<a href="{% url 'items_add' %}" class="pure-button">Add A Wish Item</a>

{% endblock %} 